$bgcolor1:rgba(35, 33, 33, 0.633);
$bgcolor2: rgba(227, 201, 201, 0.5);
$bgcolor3: rgba(152, 149, 149, 0.4);
$bgcolor4:rgb(37, 251, 122);
$bgcolor5: rgb(197, 49, 8);
$themecolor1: rgba(230, 230, 230, 0.981);
$divider1: rgba(7, 159, 55, 0.888);
$checkbox1: rgba(3, 115, 10, 0.7);
$checkbox2: rgba(179, 39, 4, 0.768);
$hover4: rgba(16, 192, 86, 0.503);
$hover5: rgba(224, 75, 6, 0.649);
$fontcolor1: #7d491b;